.teambox {
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow-x: auto;
    flex-direction: column; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}