.navbar {
    background: white;
    height: 5rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    font-size: larger;
}
.logo {
    object-fit:contain;
    height: 4.5rem;
    width: 10rem;
}
.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    color: black;
}
.desktopMenuListItem:hover {
    color: rgbrgb(195, 0, 23);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(195, 0, 23);
}

.desktopMenuBtn {
    background: white;
    color: black;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;

}
.desktopMenuBtn:hover {
    color: rgb(195, 0, 23);
}
.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem 0.25rem;
}

.active {
    color:rgb(195, 0, 23);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(195, 0, 23);
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 3rem;
    
}
.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
    
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    cursor: pointer;
    background: rgb(30, 30, 30);
}

@media screen and (max-width:720px) {
    .mobMenu {
        display: flex;
    }
    .desktopMenu, .desktopMenuBtn {
        display: none;
    }
}

.dropdownContainer {
    position: relative;
    display: inline-block; 
}
  
.dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdownContainer:hover .dropdownContent {
    display: block;
}
  
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdownContent a:hover {
    background-color: #f1f1f1;
    color: rgb(195, 0, 23);
}