#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.bg1 {
    position: absolute;
    top: 0rem;
    right: 20rem;
    object-fit: contain;
    z-index: -1;
    width:65%;
    opacity: 65%;
}
.bg2 {
    position: absolute;
    top: 17.5rem;
    right: 0rem;
    object-fit: contain;
    z-index: -1;
    width:65%;
    opacity: 65%;
}
.bg3 {
    position: absolute;
    top: 35rem;
    right: 10rem;
    object-fit: contain;
    z-index: -1;
    width:65%;
    opacity: 65%;
}



.introContent {
    
    height: 100vh;
    width: 100vh;
    max-width: 45rem;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: rgb(195, 0, 23);
}

.introPara {
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
    font-style: italic;
    color: rgb(75, 4, 12);
}

.btn {
    width: 15rem;
    background: rgb(220, 0, 23);
    color: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}
.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}
@media screen and (max-width:840px) {
    .bg1 {
        right: -10vw;
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}
@media screen and (max-width:480px) {
    .bg1 {
        right: 15vw;
        top: 0rem;
        height: 40vh;
    }
}
