#sponsors {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.sponsorDesc {
    font-weight: 300;
    font-size: 1rem;
}

.sponsorImgs {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.sponsorImg {
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
}

